

.product-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    margin-bottom: 16px;
    padding: 16px;
    width: 600px;
}
.car-info  {
    /* background-color: rgb(107, 107, 107); */
    color: rgb(72, 72, 72);
}

.make-model {
    font-size: 2.5rem;
    margin-bottom: 1%; 
    margin-top: 2%;
}

.specs {
    font-size: 1.5rem;
    margin-top: 0%;
    margin-bottom: 0%;
}

.price {
    margin-top: 1%;
    margin-bottom: 1%;
}

.action-btn{
    background-color: rgb(226, 48, 48);
    padding-bottom: 2%;
    text-align: center;
    margin: 0% 1% 1% 1%;
    transition: background-color 0.3s ease, transform 0.3s ease
}

.action-btn:hover{
    background-color: rgb(170, 35, 35);
    transform: scale(1.1);
}
